﻿@model MyProjectsManager.Data.CommentsForTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <form id="fileUpload" action="@Url.Action("AddImage")" method="POST" enctype="multipart/form-data">
        <input id="fileInput" type="file" />
        <input type="button" value="Upload file" id="btnFileUpload" />
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/CommentsForTasks/fileLoad.js")"></script>
}



