﻿@model List<MyProjectsManager.Data.Project>
@{
    ViewBag.Title = "Home Page";
    var i = 0;
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
        </p>
    </div>*@
<h2>Projects</h2>
<a href="@Url.Action("Create", "Projects")" class="btn btn-default">Create new project</a>
<p>
    @if (Model != null)
    {
        <ul class="nav nav-tabs">
            @foreach (var project in Model)
            {
                if (i == 0)
                {
                    <li class="active">
                        <a href="#@project.Id" data-toggle="tab">@project.Title</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#@project.Id" data-toggle="tab">@project.Title</a>
                    </li>
                }
                
                 i++;
            }

            @*<li><a href="#profile" data-toggle="tab">Profile</a></li>
                <li class="disabled"><a>Disabled</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#dropdown1" data-toggle="tab">Action</a></li>
                        <li class="divider"></li>
                        <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
                    </ul>
                </li>*@
            </ul>
            <div id="myTabContent" class="tab-content">
                @{
                    i = 0;
                    foreach (var project in Model)
                    {
                        if (i == 0)
                        {
                            <div class="tab-pane fade active in" id="@project.Id">
                                <div style="margin-left: 18px; margin-top: 10px;">
                                    <a href="@Url.Action("Create", "Tasks", new {projectId = project.Id})">
                                        <img src="~/Content/Images/add.png" class="statusImg" alt="Создать задачу" title="Создать задачу" />
                                    </a>
                                    <a href="@Url.Action("Delete", "Projects", new {projectId = project.Id})">
                                        <img src="~/Content/Images/delete.png" class="statusImg" alt="Удалить проект" title="Удалить проект" />
                                    </a>
                                </div>
                                
                                <div class="row">
                                    @foreach (var task in project.Tasks.OrderBy(x => x.DateCreate).OrderByDescending(x=>x.Deadline).OrderBy(x=>x.DateComplete))
                                    {
                                        var time = string.IsNullOrEmpty(task.SpentTime) ? "00:00:00" : task.SpentTime;
                                        var completeStyleColor = task.DateComplete != null ? "#51B86F" : "";

                                        <div class="col-md-6">
                                            <blockquote id="@task.Id">

                                                <p style="color: @completeStyleColor">
                                                    @if (task.DateComplete != null)
                                                    {
                                                        <img src="@Url.Content("~/Content/Images/complete.png")" class="statusImg" alt="Complete" title="Complete" id="CompleteImg" />
                                                        <img src="@Url.Content("~/Content/Images/error.png")" class="statusImg" alt="Deadline" title="Deadline" style="display: none;" id="DeadlineImg" />
                                                        <img src="@Url.Content("~/Content/Images/disactiveTask.png")" class="statusImg" alt="No active" title="No active" style="display: none;" id="NoActiveImg" />
                                                    }
                                                    else if (task.Deadline > DateTime.Now)
                                                    {
                                                        <img src="@Url.Content("~/Content/Images/error.png")" class="statusImg" alt="Deadline" title="Deadline" id="DeadlineImg" />
                                                        <img src="@Url.Content("~/Content/Images/complete.png")" class="statusImg" alt="Complete" title="Complete" style="display: none;" id="CompleteImg" />
                                                        <img src="@Url.Content("~/Content/Images/disactiveTask.png")" class="statusImg" alt="No active" title="No active" style="display: none;" id="NoActiveImg" />
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content("~/Content/Images/disactiveTask.png")" class="statusImg" alt="No active" title="No active" id="NoActiveImg" />
                                                        <img src="@Url.Content("~/Content/Images/error.png")" class="statusImg" alt="Deadline" title="Deadline" style="display: none;" id="DeadlineImg" />
                                                        <img src="@Url.Content("~/Content/Images/complete.png")" class="statusImg" alt="Complete" title="Complete" style="display: none;" id="CompleteImg" />
                                                    }
                                                    @task.Title.
                                                </p>

                                                <small>@Html.Raw(task.Description)</small>
                                                <small>@task.Prioritet</small>
                                                <small>Date complete:<cite title="Source Title">@task.DateComplete</cite></small>
                                                <small>Потраченное время:<cite title="Потраченное время" style="color: #ff0000">@time</cite></small>
                                                <img src="@Url.Content("~/Content/Images/timer.png")" class="statusImg" alt="Start" title="Start" onclick="startOrStopTask('@task.Id')"/>
                                                <cite title="Source Title" id="timer" style="display: none; color: red;" class="timer">@time</cite>
                                                @if (task.DateComplete != null)
                                                {
                                                    <img src="@Url.Content("~/Content/Images/complete.png")" class="statusImg" alt="Start" title="Uncomplete" id="Uncomplete" onclick="setComplete('@task.Id', false)"/>
                                                    <img src="@Url.Content("~/Content/Images/toComplete.png")" class="statusImg" style="display: none;" id="Complete" alt="Start" title="Complete" onclick="setComplete('@task.Id', true)"/>
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content("~/Content/Images/complete.png")" class="statusImg" style="display: none;" id="Uncomplete" alt="Start" title="Uncomplete" onclick="setComplete('@task.Id', false)"/>
                                                    <img src="@Url.Content("~/Content/Images/toComplete.png")" class="statusImg" alt="Start" id="Complete" title="Complete" onclick="setComplete('@task.Id', true)"/>
                                                }

                                                <a href="@Url.Action("Edit", "Tasks", new {Id = task.Id})"><img src="@Url.Content("~/Content/Images/edit.png")" class="statusImg" id="Edit" alt="Edit" title="Edit"/></a>
                                                <a href="@Url.Action("Delete", "Tasks", new {Id = task.Id})"><img src="@Url.Content("~/Content/Images/delete.png")" class="statusImg" id="Edit" alt="Delete" title="Delete"/></a>
                                                
                                                <a href="#" data-toggle="modal" data-target="#myModal" onclick="getTaskId('@task.Id', '@task.Project.TeamId')"><span class="badge glyphicon glyphicon-comment">@task.CommentsForTasks.Count</span></a>
                                            </blockquote>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="tab-pane fade" id="@project.Id">
                                <div style="margin-left: 18px; margin-top: 10px;">
                                    <a href="@Url.Action("Create", "Tasks", new {projectId = project.Id})">
                                        <img src="~/Content/Images/add.png" class="statusImg" alt="Создать задачу" title="Создать задачу" />
                                    </a>
                                    <a href="@Url.Action("Delete", "Projects", new {id = project.Id})">
                                        <img src="~/Content/Images/delete.png" class="statusImg" alt="Удалить проект" title="Удалить проект" />
                                    </a>
                                </div>
                                <div class="row">
                                    @foreach (var task in project.Tasks.OrderBy(x => x.DateCreate).OrderBy(x => x.DateComplete))
                                    {
                                        var time = string.IsNullOrEmpty(task.SpentTime) ? "00:00:00" : task.SpentTime;
                                        var completeStyleColor = task.DateComplete != null ? "#51B86F" : "";

                                        <div class="col-md-6">
                                            <blockquote id="@task.Id">

                                                <p style="color: @completeStyleColor">
                                                    @if (task.DateComplete != null)
                                                    {
                                                        <img src="@Url.Content("~/Content/Images/complete.png")" class="statusImg" alt="Complete" title="Complete" id="CompleteImg" />
                                                        <img src="@Url.Content("~/Content/Images/error.png")" class="statusImg" alt="Deadline" title="Deadline" style="display: none;" id="DeadlineImg"/>
                                                        <img src="@Url.Content("~/Content/Images/disactiveTask.png")" class="statusImg" alt="No active" title="No active" style="display: none;" id="NoActiveImg"/>
                                                    }
                                                    else if (task.Deadline > DateTime.Now)
                                                    {
                                                        <img src="@Url.Content("~/Content/Images/error.png")" class="statusImg" alt="Deadline" title="Deadline" id="DeadlineImg"/>
                                                        <img src="@Url.Content("~/Content/Images/complete.png")" class="statusImg" alt="Complete" title="Complete" style="display: none;" id="CompleteImg"/>
                                                        <img src="@Url.Content("~/Content/Images/disactiveTask.png")" class="statusImg" alt="No active" title="No active" style="display: none;" id="NoActiveImg"/>
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content("~/Content/Images/disactiveTask.png")" class="statusImg" alt="No active" title="No active" id="NoActiveImg"/>
                                                        <img src="@Url.Content("~/Content/Images/error.png")" class="statusImg" alt="Deadline" title="Deadline" style="display: none;" id="DeadlineImg"/>
                                                        <img src="@Url.Content("~/Content/Images/complete.png")" class="statusImg" alt="Complete" title="Complete" style="display: none;" id="CompleteImg"/>
                                                    }
                                                    @task.Title.
                                                </p>

                                                <small>@Html.Raw(task.Description)</small>
                                                <small>@task.Prioritet</small>
                                                <small>Date complete:<cite title="Source Title">@task.DateComplete</cite></small>
                                                <small>Потраченное время:<cite title="Потраченное время" style="color: #ff0000">@time</cite></small>
                                                <img src="@Url.Content("~/Content/Images/timer.png")" class="statusImg" alt="Start" title="Start" onclick="startOrStopTask('@task.Id')" />
                                                <cite title="Source Title" id="timer" style="display: none; color: red;" class="timer">@time</cite>
                                                @if (task.DateComplete != null)
                                                {
                                                    <img src="@Url.Content("~/Content/Images/complete.png")" class="statusImg" alt="Start" title="Uncomplete" id="Uncomplete" onclick="setComplete('@task.Id', false)" />
                                                    <img src="@Url.Content("~/Content/Images/toComplete.png")" class="statusImg" style="display: none;" id="Complete" alt="Start" title="Complete" onclick="setComplete('@task.Id', true)" />
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content("~/Content/Images/complete.png")" class="statusImg" style="display: none;" id="Uncomplete" alt="Start" title="Uncomplete" onclick="setComplete('@task.Id', false)" />
                                                    <img src="@Url.Content("~/Content/Images/toComplete.png")" class="statusImg" alt="Start" id="Complete" title="Complete" onclick="setComplete('@task.Id', true)" />
                                                }
                                                <a href="@Url.Action("Edit", "Tasks", new {Id = task.Id})"><img src="@Url.Content("~/Content/Images/edit.png")" class="statusImg" id="Edit" alt="Edit" title="Edit"/></a>
                                                <a href="@Url.Action("Delete", "Tasks", new {Id = task.Id})"><img src="@Url.Content("~/Content/Images/delete.png")" class="statusImg" id="Edit" alt="Delete" title="Delete" /></a>

                                                <a href="#"  data-toggle="modal" data-target="#myModal" onclick="getTaskId('@task.Id', '@task.Project.TeamId')"><span class="badge glyphicon glyphicon-comment">@task.CommentsForTasks.Count</span></a>
                                            </blockquote>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        i++;
                    }

                }
            </div>
            @*<div class="row">
                    <div class="col-md-4">
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Column heading</th>
                                    <th>Column heading</th>
                                    <th>Column heading</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr class="info">
                                    <td>3</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr class="success">
                                    <td>4</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr class="danger">
                                    <td>5</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr class="warning">
                                    <td>6</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr class="active">
                                    <td>7</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h2>Get more libraries</h2>
                        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Web Hosting</h2>
                        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                    </div>
                </div>*@
                    }
</p>
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add comment</h4>
            </div>

            <form id="fileUpload" action="@Url.Action("AddComment","CommentsForTasks")" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <label for="text">Text</label>
                    <textarea class="form-control" rows="3" style="max-width: none; width: 100%" id="text"></textarea>
                </div>
                <div class="modal-footer">
                    <label class="btn btn-default btn-file">
                        <span class="glyphicon glyphicon-paperclip">Browse</span> <input id="fileInput" type="file" style="display: none;">
                    </label>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left">Left</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                    <button type="button" class="btn btn-primary" id="addComment">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/Home/changeStatusTasks.js")"></script>
    <script src="@Url.Content("~/Scripts/Home/addComment.js")"></script>
}

