﻿@model MyProjectsManager.Data.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionWithoutHtml)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionWithoutHtml)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioritet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioritet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsibleUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsibleUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePlanBeginnig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePlanBeginnig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFactBeginning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFactBeginning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
