﻿@model IEnumerable<MyProjectsManager.Data.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionWithoutHtml)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prioritet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponsibleUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePlanBeginnig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFactBeginning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionWithoutHtml)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioritet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponsibleUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePlanBeginnig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFactBeginning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
